APScheduler==3.6.3
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
cryptography==3.0
idna==2.10
pycparser==2.20
pycryptodomex==3.9.4
pyOpenSSL==19.1.0
PySocks==1.7.1
pysocks5==0.1
pyTelegramBotAPI==3.7.2
python-alipay-sdk==2.1.0
pytz==2020.1
requests==2.7.0
six==1.15.0
telebot==0.0.3
tzlocal==2.1
urllib3==1.25.10
